.cart-items {
  list-style: none;
  max-height: 30rem;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0.5rem 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.amount {
  margin-left: 2rem;
}

.actions {
  text-align: right;
}

.actions button {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid #8a2b06;
  border-radius: 25px;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.actions button:hover,
.actions button:active {
  border-color: #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
